body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 20px;
  display: flex;
  justify-content: space-between;
}
.basket {
  border: 1px solid #ccc;
  padding: 10px;
  width: 40%;
}
.payment-form {
  width: 50%;
  border: 1px solid #ccc;
  padding: 10px;
}